doctype html
html
  head
    title Authentication Example
    link(rel='stylesheet', href='../stylesheets/style.css')
    link(rel='stylesheet', href='../stylesheets/style-auth.css')

  body
    h1 Authentication Example
    form(action='/log-in', method='POST')
      label(for='username') Username:
      input(type='text', name='username')
      label(for='password') Password:
      input(type='password', name='password')
      button(type='submit') Log In

    form(action='/sign-up', method='POST')
      label(for='username') Username:
      input(type='text', name='username')
      label(for='password') Password:
      input(type='password', name='password')
      button(type='submit') Sign Up
