/* Reset some default browser styles */
/*/stylesheets/style-auth.css*/
body, h1, form {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
  }
  
  h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  form {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  
  /* Additional styling for the Log In and Sign Up forms */
  form:first-child {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  form:last-child {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  